.home-page {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-page__logo {
  max-width: 200px;
  margin-bottom: 2em;
}

.home-page__content {
  height: 100px;
  text-align: center;
}

.home-page__error {
  color: var(--color-error);
}
